body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #575757;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.half-width{
    width: 40%;
}

.half-width img{
    width: 100%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: black;
    margin: 0px;
}
h3{
    font-size: 25px;
    color: black;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}

.orange-color{
    color: orange;
}

.half-width p{
    margin: 0px 0px 50px;
}

.button{
    background: linear-gradient(to right,#FBA24F,#FF1E1E);
    color: white;
    padding: 15px 30px;
    border-radius: 100px;
    text-decoration: none;
    border: none;
}

.second-section{
    background-image: url('./images/shapes/7.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#parsonal-image{
    width: 316px;
    padding: 24px 150px;
}

#reciepi-text{
    text-align: center;
    width: 700px;
    margin: 55px auto;
}

.recipies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 110px;
}

.recipi-card{
    width: 270px;
    padding: 25px;
    box-shadow: 5px 5px 15px #c4c4c4;
    border-radius: 25px;
}

.recipi-card img{
    width: 100%;
}

.socials{
    display: flex;
    box-shadow: 5px 5px 15px #c4c4c4;
    margin: 0 110px 80px;
    border-radius: 25px;
    padding: 5px 55px;
}

.social-item{
    padding: 35px 30px 15px 100px;
}

.social-item h1{
    margin: 0;
}

footer{
    text-align: center;
    background: #07001c;
    padding: 30px;
}

footer p{
    color: white;
}

.review-section{
    text-align: center;
    padding: 1px 10px 50px;
    box-shadow: 0px 0px 1px;
    margin: 100px 0px;
    background: tomato;
    color: black;
}

.review{
    margin: 0px 30px;
    box-shadow: 0px 0px 5px;
    padding: 40px;
    background: #f8f8f8;
}

.subscribe-section{
    text-align: center;
    box-shadow: 5px 5px 15px #c4c4c4;
    margin: 0 110px 80px;
    padding: 1px 30px 35px 30px;
    border-radius: 25px;
}

.subscribe-section input{
    border-radius: 100px;
    padding: 15px;
    border: 1px solid #c7c5c5;
    outline: none;
}
