body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #575757;
}

.top-bar{
    background-image: linear-gradient(to bottom right, #fe472d, #2b2525);
    padding: 1px 65px;
    box-shadow: 0px 2px 10px;
}

.top-bar > h3 > span{
    color: white;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.half-width{
    width: 40%;
}

.half-width img{
    width: 100%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: black;
    margin: 0px;
}
h3{
    font-size: 25px;
    color: black;
}
h4{
    font-size: 20px;
}

.orange-color{
    color: orange;
}

.half-width p{
    margin: 0px 0px 50px;
}

.button{
    background: linear-gradient(to right,#FBA24F,#FF1E1E);
    color: white;
    padding: 15px 30px;
    border-radius: 100px;
    text-decoration: none;
}

.second-section{
    background-image: url('./images/shapes/7.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#parsonal-image{
    width: 316px;
    padding: 24px 150px;
}

#reciepi-text{
    text-align: center;
    width: 700px;
    margin: 55px auto;
}

.recipies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 110px;
}

.recipi-card{
    width: 270px;
    padding: 25px;
    box-shadow: 5px 5px 15px #c4c4c4;
    border-radius: 25px;
}

.recipi-card img{
    width: 100%;
}

.socials{
    display: flex;
    box-shadow: 5px 5px 15px #c4c4c4;
    margin: 0 110px 80px;
    border-radius: 25px;
    padding: 5px 55px;
}

.social-item{
    padding: 35px 30px 15px 100px;
}

.social-item h1{
    margin: 0;
}

footer{
    text-align: center;
    background: #07001c;
    padding: 30px;
}

footer p{
    color: white;
}